.main-header {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.main-header a {
  color: white;
  text-decoration: none;
}

.main-header p {
  margin: 0 15px;
}
