@import "../../base-styles/settings/all";

.card {
  text-align: left;
  background-color: #fff;
  color: $color-text;
  bottom: 0;
  box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.2);
}

.card--transparent {
  background-color: transparent;
  color: #fff;
  box-shadow: none;
}

.card--text-center {
  text-align: center;
}

.card--text-center .pre-header:after {
  left: 50%;
  transform: translateX(-50%);
}

.card--text-right {
  text-align: right;
}

.card--text-right .pre-header:after {
  left: auto;
  right: 0;
}
