// ========================================================

html,
button,
datalist,
input,
select,
textarea {
  color: $color-text;
}

html {
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 2;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  font-family: $font-primary;
  line-height: 1.325;
  font-size: globalPerc($text-size);
  letter-spacing: 1px;

  &:after {
    content: "0em";
    display: block;
    height: 0;
    position: absolute;
    overflow: hidden;
    width: 0;
  }
}


// ========================================================

// Typography
//
// Default styling for all the typography of the website.
//
// Style guide: 2-Base.Typography

// ========================================================

// Headings
//
//
// Markup:
// <h1>h1</h1>
// <h2>h2</h2>
// <h3>h3</h3>
// <h4>h4</h4>
// <h5>h5</h5>
//
// Style guide: 2-Base.Typography.Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 $gutter*1.5 0;
  line-height: 1.1;
}

h1 {
  font-size: 1.625em;
}

h2 {
  font-size: 1.3875em;
}

h3 {
  font-size: 1.2em;
  line-height: 1.1;
}

h4 {
  font-size: 1.15em;
  line-height: 1.1;
}

h5 {
  font-size: 1.1em;
  line-height: 1.1;
}

h6 {
  font-size: 1em;
  line-height: 1.1;
}

@media screen and (min-width: $view-tablet-landscape) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.2em;
    line-height: 1.1;
  }

  h4 {
    font-size: 1.15em;
    line-height: 1.1;
  }

  h5 {
    font-size: 1.1em;
    line-height: 1.1;
  }

  h6 {
    font-size: 1em;
    line-height: 1.1;
  }
}

// ========================================================

// Paragraph
//
// Markup:
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod te id est laborum.</p>
//
// Style guide: 2-Base.Typography.Paragraph

// ========================================================

// Spacing
//
// Default spacing between block elements.
//
// Markup:
// <h3>Heading</h3>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod te id est laborum.</p>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod te id est laborum.</p>
// <ul>
// 	<li>Lorem ipsum dolor sit amet.</li>
// 	<li>Lorem ipsum dolor sit amet.</li>
// 	<li>Lorem ipsum dolor sit amet.</li>
// </ul>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod te id est laborum.</p>
//
// Style guide: 2-Base.Typography.Spacing

h2 + p,
h3 + p,
h4 + p,
h2 + ol,
h3 + ol,
h2 + ul,
h3 + ul {
  margin-top: 0;
}

p,
ol,
ul,
blockquote,
img,
table,
form,
fieldset,
pre,
object,
embed,
video,
audio,
figure,
figcaption,
.paragraph {
  margin-top: $gutter;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p,
ol,
ul,
blockquote,
img,
table,
form,
fieldset,
pre,
object,
embed,
video,
audio,
figure,
figcaption,
.paragraph {
  margin-bottom: $gutter;
}

ol,
ul {
  padding-left: $gutter*2;
}

li {
  margin-bottom: $gutter/2;
  margin-top: $gutter/2;
  line-height: 1.5;
}

datalist,
input,
select,
textarea {
  padding: $gutter/2 $gutter;
  background-color: transparent;
  color: inherit;

  &:focus,
  &:active {
    color: inherit;
  }
}

small {
  font-size: 0.7em;
}

// ========================================================

// Links and buttons
//
// Your standard button suitable for clicking.
//
// Style guide: 2-Base.Links and Buttons

// ========================================================

// Hyperlinks
//
//
// Markup:
// <a href="#">test</a>
//
// :hover - Highlights when hovering.
// :focus - Focus state
//
// Style guide: 2-Base.Links and Buttons.Hyperlinks

a {
  color: currentColor;
  text-decoration: underline;
  font-family: $font-primary;
  font-size: 1.25em;

  &:focus,
  &:hover,
  &:active {
    text-shadow: none;
    text-decoration: none;
  }
}

p a {
  font-size: 1em;
}

// ========================================================

// Buttons
//
//
// Markup:
// <button type="button" class="btn">Click me</button>
//
// :hover - Highlights when hovering.
// :focus - Focus state
//
// Style guide: 2-Base.Links and Buttons.Buttons

button {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  &:focus,
  &:hover,
  &:active {
    background-color: #FFF;
    color: #000;
  }
}

// ========================================================

blockquote p {
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1.3875em;
  line-height: 1.5;
  margin-bottom: $gutter/2;

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}

@media screen and (min-width: $view-tablet-landscape) {
  blockquote p {
    font-size: 1.9em;
  }
}
