// ========================================================

// # LIST-INLINE
.list,
.list--inline,
.list > ul,
.list--inline > ul {
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
	list-style: none;
}

.list--inline li {
	display: inline-block;
}

.list--check li {
	padding-left: $gutter;
	padding-right: $gutter/2;
	position: relative;
	margin-top: $gutter/4;
	margin-bottom: $gutter/4;	
}
