// ========================================================

// Colors
//
// These are all the global colors
//
//
// Styleguide 0-Settings.Colors

// ========================================================

// Main palette
//
// Main palette
//
// $color-text - #101010, Default text color
// $color-primary - #5DC7FF, Primary color
// $color-secondary - #FFDD00, Secondary color
// $color-tertiary - #A60D7B, Tertiary color
// $color-quaternary - #FF395C, Quaternary color
//
// Styleguide 0-Settings.Colors.Main

$color-text: #121212;
$color-tyrian: #6A0136;
$color-midnight: #104F55;
$color-oxford: #002642;
$color-maastricht: #0B132B;
$color-gold: #E59500;
$color-white: #fff;
// ========================================================

// Form palette
//
// Form palette
//
// $color-input - #EAEAEA, Text color
// $color-input-focus - #CCC, Focus color
// $color-error - #C00, Error color
//
// Styleguide 0-Settings.Colors.Form

$color-input: #EAEAEA;
$color-input-focus: #CCC;
$color-error: #C00;

// ========================================================

// Social palette
//
// Social palette
//
// $social-facebook - #3B5998, color
// $social-linkedin - #0077B5, color
// $social-twitter - #55ACEE, color
//
// Styleguide 0-Settings.Colors.Social

$social-facebook: #3B5998;
$social-linkedin: #0077B5;
$social-twitter: #55ACEE;

// ========================================================

// Constants palette
//
// Constants palette
//
// $color-border - #CCC, color
//
// Styleguide 0-Settings.Colors.Constants

$color-border: #CCC;

// ========================================================
