.pre-header {
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}

.pre-header:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 40px;
  height: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 110px;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scaleY(0.3);
    width: 70%;
    height: 0px;
    box-shadow: 0px 56px 9px 2px rgba(0, 0, 0, 0.5);
    animation: floating-logo-shadow 8s ease-in-out infinite;
  }
}

.logo div {
  animation: floating 8s ease-in-out infinite;
}



@keyframes floating {
  0%,
  100% {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
}

@keyframes floating-shadow {
  0%,
  100% {
    transform: skew(79deg, 22deg) rotate(-22deg) scale(1.11, -0.15);
    color: rgba(0, 0, 0, 0.05);
    filter: blur(28px);
  }
  65% {
    transform: skew(79deg, 22deg) rotate(-22deg) scale(1, -0.15);
    color: rgba(0, 0, 0, 0.2);
    filter: blur(24px);
  }
}

@keyframes floating-logo-shadow {
  0%,
  100% {
    box-shadow: 0 56px 15px 8px rgba(0, 0, 0, 0.1);
  }
  65% {
    box-shadow: 0 56px 8px 1px rgba(0, 0, 0, 0.5);
  }
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 1s;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

canvas {
  position: absolute;
  top: 0;
}

.make-small h1 {
  font-size: 50px;
  transform: translateY(0%);
}
