input[type="checkbox"] {
  position: fixed;
  bottom: 100%;
}

.pre-header {
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}

.pre-header:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 40px;
  height: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

.main {
  color: #fff;
  position: relative;
  overflow: hidden;
  background: linear-gradient(200deg, #d63c27 10%, #ffa164 80%);
  border: 40px solid #fff;
  box-sizing: border-box;
}

.main--ingradient {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
}

.main__intro img {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.main__header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 80px);
  width: 100%;
  box-shadow: 0 0 20px 6px inset rgba(0, 0, 0, 0.2);
  position: absolute;
}

.main__content {
  text-align: center;
  width: 0;
  margin: auto;
  top: 100px;
  margin-bottom: 100px;
  height: 100%;
  position: relative;
  transition: width 0.6s ease-in-out;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
  will-change: width;
}

.reveal.main__content {
  width: 100%;
}

.main__content:before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  right: 50%;
  transform: translateX(50%);
  bottom: -3px;
  width: 100vw;

  opacity: 0.3;
}

.main__body {
  position: relative;
  min-height: 100vh;
}

.main__content-mask {
  width: 100vw;
  max-width: 720px;
  position: absolute;
  padding: 30px;
  text-align: left;
  background-color: #fff;
  color: #121212;
  margin: 60px;
  bottom: 0;
  box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.2);
}

.main__content-mask-floating-asset {
  background-size: cover;
  background-image: url(/static/images/02.png);
  position: absolute;
  right: 50%;
  transform: translateX(70%);
  bottom: 120px;
  width: 670px;
  height: 580px;
  box-shadow: 120px -50px 0px 0px #3885cc, -60px -100px 0px 0px #224579;
}

.main__content-mask-floating-asset:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 30px -9px inset rgba(0, 0, 0, 0.5);
}

.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 110px;
  z-index: 1;
}

.logo:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleY(0.3);
  width: 70%;
  height: 0px;
  box-shadow: 0px 56px 9px 2px rgba(0, 0, 0, 0.5);
  animation: floating-logo-shadow 8s ease-in-out infinite;
}

.logo div {
  animation: floating 8s ease-in-out infinite;
}

.main h1 {
  font-size: 214px;
  position: relative;
}

.main h1 span {
  position: relative;
  background: -webkit-linear-gradient(#eee, #ddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: floating 8s ease-in-out infinite;
  display: block;
}

.main h1.shadow:before {
  content: attr(title);
  position: absolute;
  transform-origin: bottom left;
}

.main h1.shadow--float:before {
  bottom: 70px;
  color: rgba(0, 0, 0, 0.15);
  left: -34px;
  transform: skew(79deg, 22deg) rotate(-22deg) scale(1.11, -0.15);
  filter: blur(24px);
  transform-origin: bottom center;
  animation: floating-shadow 8s ease-in-out infinite;
}

img {
  max-width: 100%;
  margin: 0;
}

@keyframes floating {
  0%,
  100% {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
}

@keyframes floating-shadow {
  0%,
  100% {
    transform: skew(79deg, 22deg) rotate(-22deg) scale(1.11, -0.15);
    color: rgba(0, 0, 0, 0.05);
    filter: blur(28px);
  }
  65% {
    transform: skew(79deg, 22deg) rotate(-22deg) scale(1, -0.15);
    color: rgba(0, 0, 0, 0.2);
    filter: blur(24px);
  }
}

@keyframes floating-logo-shadow {
  0%,
  100% {
    box-shadow: 0 56px 15px 8px rgba(0, 0, 0, 0.1);
  }
  65% {
    box-shadow: 0 56px 8px 1px rgba(0, 0, 0, 0.5);
  }
}

.home {
  &.main--intro {
    background: #86104b linear-gradient(
                    227deg,
                    #6a0136 30%,
                    #8e0f4f 60%,
                    transparent 60%,
                    rgba(0, 0, 0, 0.2) 60%,
                    transparent 60.5%
    );

  }

  .main--ingradient {
    background: linear-gradient(340deg, #6a0136 30%, #921c58 50%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, transparent 50.5%);
  }
}
.about {
  &.main--intro {
    background: #2758a3 linear-gradient(127deg, #0e0173 30%, #2f76b3 60%, transparent 60%, rgba(0, 0, 0, 0.2) 60%, transparent 60.5%);
  }

  .main--ingradient {
    background: linear-gradient(240deg, #0e0173 30%, #2f76b3 50%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, transparent 50.5%);
  }
}
.about-detail {
  &.main--intro {
    background: #ff650a linear-gradient(227deg, #ff680f 30%, #ff701b 60%, transparent 60%, rgba(0, 0, 0, 0.2) 60%, transparent 60.5%);
  }

  .main--ingradient {
    background: linear-gradient(340deg, #f3752b 30%, #f95f04 50%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, transparent 50.5%);
  }
}

.main {
  height: 100vh;
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 1s;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.about-detail {
  margin: auto;
  overflow: hidden;

  &.page-transition-enter {
    width: 0;
  }
  &.page-transition-enter-active {
    width: 100%;
    transition: width 0.6s ease-in-out;
    clip: rect(0, auto, auto, 0);
    will-change: width;
  }
  &.page-transition-exit {
    width: 100%;
  }
  &.page-transition-exit-active {
    width: 0;
    transition: width 0.6s ease-in-out;
    clip: rect(0, auto, auto, 0);
    will-change: width;
  }
}

canvas {
  position: absolute;
  top: 0;
}

.main__links {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.main__header h1 {
  transition: font-size 0.8s, transform 1s;
  margin: 0;
  transform: translateY(50%);
}

.make-small h1 {
  font-size: 50px;
  transform: translateY(0%);
}
