@import "../../base-styles/settings/all";

.main {
  position: fixed;
  border: $gutter solid #fff;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.main__page {
  &:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $gutter;
    background-color: #fff;
    z-index: 1;
  }

  &:after {
    content: "";
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $gutter;
    background-color: #fff;
    z-index: 1;
  }
}

.main--gradient {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 20px 6px inset rgba(0, 0, 0, 0.2);
}

.main__intro img {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.main__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: 0 $gutter*2;
}

.main__header img {
  max-height: 500px;
}

.main__header h1 {
  font-size: 74px;
  position: relative;
}

.main__header h1 span {
  position: relative;
  background: linear-gradient(#eee, #ddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: floating 8s ease-in-out infinite;
  display: block;
}

.main__header h1.shadow:before {
  content: attr(title);
  position: absolute;
  transform-origin: bottom left;
}

.main__header h1.shadow--float:before {
  bottom: $gutter * 2;
  color: rgba(0, 0, 0, 0.15);
  left: -34px;
  transform: skew(79deg, 22deg) rotate(-22deg) scale(1.11, -0.15);
  filter: blur(24px);
  transform-origin: bottom center;
  animation: floating-shadow 8s ease-in-out infinite;
}

.main__content {
  padding: $gutter;
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 1s;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.main canvas {
  position: absolute;
  top: 0;
}

@keyframes floating {
  0%,
  100% {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 8px);
  }
}

@keyframes floating-shadow {
  0%,
  100% {
    transform: skew(79deg, 22deg) rotate(-22deg) scale(1.11, -0.15);
    color: rgba(0, 0, 0, 0.05);
    filter: blur(28px);
  }
  65% {
    transform: skew(79deg, 22deg) rotate(-22deg) scale(1, -0.15);
    color: rgba(0, 0, 0, 0.2);
    filter: blur(24px);
  }
}

@keyframes floating-logo-shadow {
  0%,
  100% {
    box-shadow: 0 56px 15px 8px rgba(0, 0, 0, 0.1);
  }
  65% {
    box-shadow: 0 56px 8px 1px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: $view-tablet-landscape) {
  .main__content {
    padding: $gutter * 2;
  }

  .main__header h1 {
    font-size: 214px;
  }
}
