@import "../../base-styles/settings/all";

.card-with-image {
  margin-top: $gutter*2;
  margin-bottom: $gutter*2;
}

@media screen and (min-width: $view-tablet-landscape) {
  .card-with-image--card-right {
    flex-direction: row-reverse;
  }
}