.social {
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.social li {
  display: inline-block;
}

.social a {
  color: white;
  transition: color 0.2s ease-in-out;
  padding: 10px;

  &:hover {
    color: #c800a7;
  }
}
