@import "../../base-styles/settings/all";

.what--background {
  background: adjust-color($color-midnight, $red: 28, $green: 15, $blue: 21) linear-gradient(317deg, $color-midnight 30%, adjust-color($color-midnight, $red: 36, $green: 14, $blue: 25) 60%, transparent 60%, rgba(0, 0, 0, 0.2) 60%, transparent 60.5%);
}

.what--background .main--gradient {
  background: linear-gradient(
    340deg,
    $color-midnight 30%,
    adjust-color($color-midnight, $red: 40, $green: 27, $blue: 34) 50%,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 50%,
    transparent 50.5%
  );
}

.what .floating-asset {
  box-shadow: $gutter*2 (-$gutter*2) 0px 0px lighten($color-midnight, 15%), -$gutter*2 (-$gutter*4) 0px 0px lighten($color-midnight, 5%);
}
