@import "../../base-styles/settings/all";

.contact .card {
  position: relative;
}

.contact .main__header {
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;

  &:before {
    content: "";
    background-image: url("/static/images/contact-building.png");
    background-size: 270%;
    background-position: -380px -50px;
    position: absolute;
    top: $gutter;
    right: $gutter;
    bottom: $gutter;
    left: $gutter;
  }
}

@media screen and (min-width: $view-tablet-landscape) {
  .contact .card {
    max-width: 550px;
  }

  .contact .main__header:before {
    background-size: cover;
    background-position: center;
  }
}
